<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Website Kelas</title>
</head>
<body>
    <h1>Tentang Kami</h1>
    <p>Website ini dibuat untuk belajar Django.</p>

    <h3>Informasi Kelas</h3>
    <ul>
        <li>Nama Kelas: Web Development</li>
        <li>Materi: Python & Django</li>
        <li>Tujuan: Membuat website dinamis</li>
    </ul>
<h1>Halaman About</h1>

    <p>Nama Kelas: {{ nama_kelas }}</p>
    <p>Jumlah Siswa: {{ jumlah_siswa }}</p>

    {% if aktif %}
        <p>Status: Kelas sedang aktif ✅</p>
    {% else %}
        <p>Status: Kelas tidak aktif ❌</p>
    {% endif %}

    <br>
    <a href="/">Kembali ke Home</a>
     <li><a href="/blog/">Blog</a></li>
             <li><a href="/">Home</a></li>

</body>
</html>
